.chat-save-modal-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(180, 180, 180, 0.7);
}
.chat-save-modal-back .chat-save-modal {
    min-width: 22rem;
    max-width: 25rem;
    min-height: 15rem;
    padding: 1rem;
    padding-bottom: 2rem;
    border: 1px solid #919191;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.chat-save-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chat-save-modal .btn-container.close {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}

.chat-save-modal button {
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
}
.chat-save-modal button img {
    width: 1.5rem;
}

.chat-save-modal .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat-save-modal label {
    margin-right: 0.5rem
}
.chat-save-modal .save-modal-content {
    margin: 1.5rem 0;
    min-width: 12rem;
    max-width: 16rem;
    word-break: break-all;
    padding: 1rem 2rem;
    background: #c8d6d5;
    border: 1px solid rgba(112, 124, 151, 0.2);
    border-radius: 16px;
    color: black;
}