.saved-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.saved-details {
    width: fit-content;
    border: 1px solid rgba(200, 214, 213, 0.8);
    border-radius: 5px;
    max-width: 75%;
    word-break: break-all;
    padding: 1rem 2rem;
}