.mypage-container {
    position: relative; /* 수정 버튼 위치 고정 */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    justify-content: flex-start;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 400px;
    margin: 100px auto;
    border: 1px solid #21978B;
  }
  
  .mypage-container h2 {
    font-size: 1rem; 
    margin-bottom: 10px;
    position: relative;
    top: -20px;
  }
  
  .profile-section {
    
    display: flex;
    gap: 20px; /* 이미지와 텍스트 사이 간격 */
  }

  .profile-pic {
    top: 0;
    left: 0;
    width: 120px; /* 이미지 크기 더 크게 */
    height: 150px;
    border-radius: 10%;
    align-self: flex-start;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 3px; /* 아이디, 이메일, 닉네임 사이의 간격을 줄이기 */ 
}
  
  .profile-info p {
    margin: 0;
    line-height: 2.2; /* 기본 텍스트 간격 설정 */
  }

  .profile-disease-list {
    display: inline-block; /* 질병 목록을 Diseases: 옆에 세로로 배치 */
  }
  
  .profile-disease-item {
    display: block;
    margin-top: 8px; /* 각 질병 간격 조정 */
    line-height: 1.5; /* 각 줄 간의 간격 조정 */
  }
 
  .edit-button {
    position: absolute;
    top: 20px; /* 위쪽으로 더 밀기 */
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .saved-chat-button {
    padding: 20px 100px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; /* 버튼을 가운데 정렬 */
    margin-top: 20px; /* 마진 추가 */
  }
  
  .saved-chat-button:hover {
    background-color: #e0e0e0;
  }

  